@font-face {
    font-family: 'Druk Cyr';
    src: url('fonts/DrukCyr-Heavy.eot');
    src: local('Druk Cyr Heavy'), local('DrukCyr-Heavy'),
        url('fonts/DrukCyr-Heavy.eot?#iefix') format('embedded-opentype'),
        url('fonts/DrukCyr-Heavy.woff2') format('woff2'),
        url('fonts/DrukCyr-Heavy.woff') format('woff'),
        url('fonts/DrukCyr-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
}

section {
    padding: 100px 0 100px 0;
    overflow: hidden;
}

.section-hero {
    overflow-x: hidden;
    width: 100vw;
}

.section-tagline {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding-top: 0;
    padding-bottom: 200px;
}

.section-wirless {
    padding: 60px 30px;
    height: 100vh;
}

.container-wirless {
    height: 100%;

    border-radius: 170px;
    background-image: url(img/wall.jpg);

}

.buy-tagline-container {
    justify-content: space-between;
    padding-left: 250px;
    padding-right: 50px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header {
    margin-top: 0;
    margin-bottom: 0;

    font-family: 'Druk Cyr';
    font-style: normal;
    font-weight: bold;
    font-size: 100px;

    transform: scale(2, 1);
}

.subheader {
    margin-top: 0;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
}

.hero-pictures {
    width: 100%;
    height: 35vh;

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 372px;
    height: 81px;
    margin-top: 100px;

    background-color: #1858FC;
    border-radius: 115px;
    color: #fff;
    border: none;

    font-style: normal;
    font-weight: bold;
    font-size: 60px;
}

.picture-container {
    position: relative;

    width: 50vw;
    position: relative;
}

.picture-container img {
    width: 100%;
}

.rozetkus-pic {
    position: absolute;
    left: 300px;
    top: 300px;

    z-index: -1;
}

.shtepsel-pic {
    transform: translate(0, -28px);
}

.tagline {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 50vw;
    height: 100%;

    z-index: 100;
}

.tagline-right {
    padding-right: 15%;
    padding-left: 10%;
}

.tagline-left {
    padding-left: 15%;
    padding-right: 10%
}

.tagline-container {
    display: flex;
    flex-direction: row;
    align-items: center;


    width: 100%;
}

.dark-container {
    background-color: #000;
    border-radius: 170px;
}

.radius-170 {
    border-radius: 170px;
}

.subcontainer {
    width: 450px;
}

.tagline-header {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
}

.tagline-subheader {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 30px;
}

.tagline-text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
}

.tagline-dark {
    color: #fff;
}

.section-dark {
    padding: 0;
}

.price {
    max-width: 450px;
    margin: 0;

    font-family: 'Druk Cyr';
    font-style: normal;
    font-weight: bold;
    font-size: 100px;

    transform: scale(2, 1) translate(112px, 0);
}

.btn-last {
    margin-top: 10px;
}

.description {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}

.color-boxes-container {
    display: flex;
    justify-content: space-between;
}

.colored-squaee {
    width: 100%;
    height: 85vh;

    background-color: #4D4D4D;
    border-radius: 100px;
}

.color-box {
    width: 80px;
    height: 80px;

    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.25);
    border-radius: 17px;
}

.color-1 {
    background: #4D4D4D;
}

.color-2 {
    background: #3C4A68;
}

.color-3 {
    background: #40535F;
}

.color-4 {
    background: #E8E8E8;
}

footer {
    height: 100px;
}

@media (max-width: 1300px) {
    .hero-pictures {
        height: 25vh;
    }

    .tagline-right {
        padding-right: 5em;
    }
}

@media (max-width: 1000px) {
    .tagline-right {
        padding-right: 2em;
    }
}

@media (max-width: 850px) {
    .tagline-right {
        padding-right: 1em;
    }

    .tagline-header {
        font-size: 50px;
    }

    .tagline-subheader, 
    .tagline-text {
        font-size: 24px;
    }
}

@media (max-width: 706px) {
    .tagline-header {
        font-size: 40px;
    }

    .tagline-subheader, 
    .tagline-text {
        font-size: 20px;
    }
}